**/build
.idea/*
node_modules
*.log
.DS_Store
docker-compose-dev.yml
.env.dev
deployment/charts
*.http
test.js
.vscode/*
backend/zapatosconfig.json
.env
backend/.env
.env.test
.editorconfig
e2e-test/node_modules/
dist
